* {
    background-color: #2f3848;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 900px;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 4em;
    border-bottom: white;
}

.title h1 {
    background-color: #f05768;
    font-style: italic;
    font-weight: 1000;
}

.nav_bar li {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.nav_left {
    position: absolute;
    margin-right: 10px;
    font-weight: 1000;
    color: yellowgreen;
}

.nav_right {
    margin-right: 8px;
    left: 71%;
}

.nav_left a {
    font-size: 18px;
    position: relative;
    display: block;
    cursor: pointer;
}

.nav_right img {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 5;
}

.s1 {
    position: absolute;
    width: 900px;
    left: 50%;
    margin-top: 140px;
    transform: translateX(-50%);
    color: white;
}

.s1 h1 {
    color: #2983dc;
    font-style: italic;
    font-weight: 1000;
}

.name {
    color: yellowgreen;
    text-decoration: underline;
}

.name:hover {
    color: white;
}

.s1 p {
    font-weight: 800;
}

.img_title {
    position: relative;
    padding: 6px;
    background-color: #f05768;
    font-size: 20px;
    font-weight: 800;
    z-index: 2;
}

.img_cameleon {
    margin-top: -3.9%;
    z-index: 1;
}